<a href="https://colab.research.google.com/github/naitikjpatel/naitikjpatel/blob/main/caseStudy_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

# Case Study 2: Fibit's User's Analysis

In [2]:
fit=np.genfromtxt('fitbit_user_analysis.txt',dtype='str')

In [3]:
fit

array([['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
       ['07-10-2017', '6041', 'Sad', '197', '8', 'Inactive'],
       ['08-10-2017', '25', 'Sad', '0', '5', 'Inactive'],
       ['09-10-2017', '5461', 'Sad', '174', '4', 'Inactive'],
       ['10-10-2017', '6915', 'Neutral', '223', '5', 'Active'],
       ['11-10-2017', '4545', 'Sad', '149', '6', 'Inactive'],
       ['12-10-2017', '4340', 'Sad', '140', '6', 'Inactive'],
       ['13-10-2017', '1230', 'Sad', '38', '7', 'Inactive'],
       ['14-10-2017', '61', 'Sad', '1', '5', 'Inactive'],
       ['15-10-2017', '1258', 'Sad', '40', '6', 'Inactive'],
       ['16-10-2017', '3148', 'Sad', '101', '8', 'Inactive'],
       ['17-10-2017', '4687', 'Sad', '152', '5', 'Inactive'],
       ['18-10-2017', '4732', 'Happy', '150', '6', 'Active'],
       ['19-10-2017', '3519', 'Sad', '113', '7', 'Inactive'],
       ['20-10-2017', '1580', 'Sad', '49', '5', 'Inactive'],
       ['21-10-2017', '2822', 'Sad', '86', '6', 'Inactive'],
       ['22-10-2017', '181', 'Sad', '6', '8', 'Inactive'],
       ['23-10-2017', '3158', 'Neutral', '99', '5', 'Inactive'],
       ['24-10-2017', '4383', 'Neutral', '143', '4', 'Inactive'],
       ['25-10-2017', '3881', 'Neutral', '125', '5', 'Inactive'],
       ['26-10-2017', '4037', 'Neutral', '129', '6', 'Inactive'],
       ['27-10-2017', '202', 'Neutral', '6', '8', 'Inactive'],
       ['28-10-2017', '292', 'Neutral', '9', '5', 'Inactive'],
       ['29-10-2017', '330', 'Happy', '10', '6', 'Inactive'],
       ['30-10-2017', '2209', 'Neutral', '72', '5', 'Inactive'],
       ['31-10-2017', '4550', 'Happy', '150', '8', 'Active'],
       ['01-11-2017', '4435', 'Happy', '141', '5', 'Inactive'],
       ['02-11-2017', '4779', 'Happy', '156', '4', 'Inactive'],
       ['03-11-2017', '1831', 'Happy', '57', '5', 'Inactive'],
       ['04-11-2017', '2255', 'Happy', '72', '4', 'Inactive'],
       ['05-11-2017', '539', 'Happy', '17', '5', 'Active'],
       ['06-11-2017', '5464', 'Happy', '181', '4', 'Inactive'],
       ['07-11-2017', '6041', 'Neutral', '197', '3', 'Inactive'],
       ['08-11-2017', '4068', 'Happy', '131', '2', 'Inactive'],
       ['09-11-2017', '4683', 'Happy', '154', '9', 'Inactive'],
       ['10-11-2017', '4033', 'Happy', '137', '5', 'Inactive'],
       ['11-11-2017', '6314', 'Happy', '193', '6', 'Active'],
       ['12-11-2017', '614', 'Happy', '19', '4', 'Active'],
       ['13-11-2017', '3149', 'Happy', '101', '5', 'Active'],
       ['14-11-2017', '4005', 'Happy', '139', '8', 'Active'],
       ['15-11-2017', '4880', 'Happy', '164', '4', 'Active'],
       ['16-11-2017', '4136', 'Happy', '137', '5', 'Active'],
       ['17-11-2017', '705', 'Happy', '22', '6', 'Active'],
       ['18-11-2017', '570', 'Neutral', '17', '5', 'Active'],
       ['19-11-2017', '269', 'Happy', '9', '6', 'Active'],
       ['20-11-2017', '4275', 'Happy', '145', '5', 'Inactive'],
       ['21-11-2017', '5999', 'Happy', '192', '6', 'Inactive'],
       ['22-11-2017', '4421', 'Happy', '146', '5', 'Inactive'],
       ['23-11-2017', '6930', 'Happy', '234', '6', 'Inactive'],
       ['24-11-2017', '5195', 'Happy', '167', '5', 'Inactive'],
       ['25-11-2017', '546', 'Happy', '16', '6', 'Inactive'],
       ['26-11-2017', '493', 'Happy', '17', '7', 'Active'],
       ['27-11-2017', '995', 'Happy', '32', '6', 'Active'],
       ['28-11-2017', '1163', 'Neutral', '35', '7', 'Active'],
       ['29-11-2017', '6676', 'Sad', '220', '6', 'Active'],
       ['30-11-2017', '3608', 'Happy', '116', '5', 'Active'],
       ['01-12-2017', '774', 'Happy', '23', '6', 'Active'],
       ['02-12-2017', '1421', 'Happy', '44', '7', 'Active'],
       ['03-12-2017', '4064', 'Happy', '131', '8', 'Active'],
       ['04-12-2017', '2725', 'Happy', '86', '8', 'Active'],
       ['05-12-2017', '5934', 'Happy', '194', '7', 'Active'],
       ['06-12-2017', '1867', 'Happy', '60', '8', 'Active'],
       ['07-12-2017', '3721', 'Sad', '121', '5', 'Active'],
       ['08-12-2017', '2374', 'Neutral', '76', '4', 'Inactive'],
       ['09-12-2017', '2909', 'Neutral', '93', '3', 'Active'],
       ['10-12-2017', '1648', 'Sad', '53', '3', 'Active'],
       ['11-12-2017', '799', 'Sad', '25', '4', 'Inactive'],
       ['12-12-2017', '7102', 'Neutral', '227', '5', 'Active'],
       ['13-12-2017', '3941', 'Neutral', '125', '5', 'Active'],
       ['14-12-2017', '7422', 'Happy', '243', '5', 'Active'],
       ['15-12-2017', '437', 'Neutral', '14', '3', 'Active'],
       ['16-12-2017', '1231', 'Neutral', '39', '4', 'Active'],
       ['17-12-2017', '1696', 'Sad', '55', '4', 'Inactive'],
       ['18-12-2017', '4921', 'Neutral', '158', '5', 'Active'],
       ['19-12-2017', '221', 'Sad', '7', '5', 'Active'],
       ['20-12-2017', '6500', 'Neutral', '213', '5', 'Active'],
       ['21-12-2017', '3575', 'Neutral', '116', '5', 'Active'],
       ['22-12-2017', '4061', 'Sad', '129', '5', 'Inactive'],
       ['23-12-2017', '651', 'Sad', '21', '5', 'Inactive'],
       ['24-12-2017', '753', 'Sad', '28', '4', 'Inactive'],
       ['25-12-2017', '518', 'Sad', '16', '3', 'Inactive'],
       ['26-12-2017', '5537', 'Happy', '180', '4', 'Active'],
       ['27-12-2017', '4108', 'Neutral', '138', '5', 'Active'],
       ['28-12-2017', '5376', 'Happy', '176', '5', 'Active'],
       ['29-12-2017', '3066', 'Neutral', '99', '4', 'Active'],
       ['30-12-2017', '177', 'Sad', '5', '5', 'Inactive'],
       ['31-12-2017', '36', 'Sad', '1', '3', 'Inactive'],
       ['01-01-2018', '299', 'Sad', '10', '3', 'Inactive'],
       ['02-01-2018', '1447', 'Neutral', '47', '3', 'Inactive'],
       ['03-01-2018', '2599', 'Neutral', '84', '2', 'Inactive'],
       ['04-01-2018', '702', 'Sad', '23', '3', 'Inactive'],
       ['05-01-2018', '133', 'Sad', '4', '2', 'Inactive'],
       ['06-01-2018', '153', 'Happy', '0', '8', 'Inactive'],
       ['07-01-2018', '500', 'Neutral', '0', '5', 'Active'],
       ['08-01-2018', '2127', 'Neutral', '0', '5', 'Inactive'],
       ['09-01-2018', '2203', 'Happy', '0', '5', 'Active']], dtype='<U10')

In [4]:
len(fit)

96

In [5]:
fit.ndim

2

In [6]:
fit.shape

(96, 6)

In [7]:
fit[0]

array(['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
      dtype='<U10')

In [8]:
fit[0:5]

array([['06-10-2017', '5464', 'Neutral', '181', '5', 'Inactive'],
       ['07-10-2017', '6041', 'Sad', '197', '8', 'Inactive'],
       ['08-10-2017', '25', 'Sad', '0', '5', 'Inactive'],
       ['09-10-2017', '5461', 'Sad', '174', '4', 'Inactive'],
       ['10-10-2017', '6915', 'Neutral', '223', '5', 'Active']],
      dtype='<U10')

<h3>Print number of days user was sedantary (< 5000 steps), low active (5000 to 7499 steps), somewhat active (7500 to 9999 steps) and active (10k to 12499 steps).</h3>

In [10]:
#Here we fetch the steps column using the smart indexing (here we can also do that fit Transpose then direct fetch the row) ->in next example we do like that
steps=fit[:,1]
#Here we change the datatype using astype(dtype='int') method
steps=steps.astype(dtype='int')

steps

array([5464, 6041,   25, 5461, 6915, 4545, 4340, 1230,   61, 1258, 3148,
       4687, 4732, 3519, 1580, 2822,  181, 3158, 4383, 3881, 4037,  202,
        292,  330, 2209, 4550, 4435, 4779, 1831, 2255,  539, 5464, 6041,
       4068, 4683, 4033, 6314,  614, 3149, 4005, 4880, 4136,  705,  570,
        269, 4275, 5999, 4421, 6930, 5195,  546,  493,  995, 1163, 6676,
       3608,  774, 1421, 4064, 2725, 5934, 1867, 3721, 2374, 2909, 1648,
        799, 7102, 3941, 7422,  437, 1231, 1696, 4921,  221, 6500, 3575,
       4061,  651,  753,  518, 5537, 4108, 5376, 3066,  177,   36,  299,
       1447, 2599,  702,  133,  153,  500, 2127, 2203])

In [15]:
sedantary=len(steps[steps<5000])
low_active=len(steps[steps<7500])-sedantary
somewhat_active=len(steps[steps<10000])-low_active-sedantary
active=len(steps[steps>=10000])

print('Sedantary :',sedantary)
print('low_active :',low_active)
print('somewhat_active :',somewhat_active)
print('active :',active)

Sedantary : 79
low_active : 17
somewhat_active : 0
active : 0

<h3>Is there any relation between calory burning and mood?</h3>


*Here we fetch the steps column using the smart indexing (here we can also do that fit Transpose then direct fetch the row) ->in next example we do like that





steps=fit[:,1]




*Here we change the datatype using
 astype(dtype='int') method


steps=steps.astype(dtype='int')




*Now we find the avege of the based on the mood then after we check the relation
steps

In [16]:
# Logic
mood = np.array(["Happy", "Happy", "Neutral", "Sad", "Neutral"])
calory = np.array([750, 1200, 600, 300, 500])

mood == "Happy"
calory[ [ True,  True, False, False, False] ]

happy_calory = calory[mood == "Happy"]
np.average(happy_calory)

# sad_calory =
# neutral_calory =
# happy_calory =

# Conclusion:

975.0

In [17]:
# we have the (96,6) shape array now we do transpose of the array then we got a (6,96) shape array and now we took one-by-one row with all data

#and required data we change the data type also
date=fit.T[0]

steps=fit.T[1]
steps=steps.astype(dtype='int')

mood=fit.T[2]

calory=fit.T[3]
calory=calory.astype(dtype='int')

sleep=fit.T[4]
sleep=sleep.astype(dtype='int')

activity=fit.T[5]

In [24]:
# mood=='Happy'     =>this give the boolean array like true and false


#This is for the Happy Calory
cal_arr_happy=calory[mood=='Happy']
happy_cal=round(np.average(cal_arr_happy))
print("Happy Calory:",happy_cal)


#THis is for the Neutral calory

cal_arr_neutral=calory[mood=='Neutral']
neutral_cal=round(np.average(cal_arr_neutral))
print('Neutral Calory:',neutral_cal)

#This is for the Sad calory

cal_arr_sad=calory[mood=='Sad']
sad_cal=round(np.average(cal_arr_sad))
print('Sad Calory :',sad_cal)

Happy Calory: 109
Neutral Calory: 99
Sad Calory : 68

**Establish relationship between sleep and mood if it exists.**

In [29]:
#Here we also find the average then we check the relation between them

sleep_hr_happy=sleep[mood=="Happy"]
happy_avg=round(np.average(sleep_hr_happy))
print('Happy Avg sleep hr: ',happy_avg)

#now for neutral
sleep_hr_neutral=sleep[mood=='Neutral']
neutral_avg=round(np.average(sleep_hr_neutral))
print('Neutral Avg sleep hr:',neutral_avg)


#now for sad
sleep_hr_sad=sleep[mood=='Sad']
sad_avg=round(np.average(sleep_hr_sad))
print('Sad Avg sleep hr :',sad_avg)

Happy Avg sleep hr:  6
Neutral Avg sleep hr: 5
Sad Avg sleep hr : 5

**Establish relationship between sleep and activity if it exists.**

In [33]:
#This is for the when user is active
sleep_hr_active=sleep[activity=='Active']
sleep_avg_active=round(np.average(sleep_hr_active),2)
print("sleep avg when active user :",sleep_avg_active)


#This is for the when use is Inactive

sleep_hr_inactive=sleep[activity=="Inactive"]
sleep_avg_inactive=round(np.average(sleep_hr_inactive))
print('sleep avg when user is inactive :',sleep_avg_inactive)

sleep avg when active user : 5.45
sleep avg when user is inactive : 5

**Get me the date on which highest step counts occurred.**

In [42]:
# maxSteps=np.max(steps)
# find_index=steps.i
# print(maxSteps)


h_index=np.where(a==steps.max()[0])
print(h_index)

IndexError: ignored